@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital@1&family=Joan&display=swap');

* {
    margin: 0px;
    padding: 0;
}


:root {
    --bg-light-black: #1c1818;
    --bg-green-yellow: #5024c1;
    --b-dark-black: rgb(28, 27, 27);
    --b-light-yellow: #1f1d1d;
}

.navigation-bar {
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    color: rgb(9, 18, 18);
    padding: 10px;
    background-color: rgb(233, 232, 241);
    text-shadow: 1px 1px 2px rgb(0, 23, 154), 0 0 0.6em #c73e3e, 0 0 0.6em rgb(231, 67, 67);
}

.students {
    display: flex;
    gap: 10px;
    height: auto;
    width: 100%;
    background-color: hwb(202 94% 3%);
    color: #211d1d;
    font-weight: bold;

}

.enroll-student {
    margin-top: 30px;
    padding-right: 100px;
    box-sizing: border-box;
    width: 30%;
    height: auto;
    color: rgb(24, 22, 22);
    font-size: 18px;
    font-weight: 900;

}

#enrolled-students {
    margin-top: 25px;
    margin-bottom: 15px;
    justify-content: center;
    width: 55%;
    height: calc(100vh - 70px);
    overflow: visible;
    text-align: left;
    color: hsl(240, 13%, 3%);
    background-color: hwb(247 91% 5%);


}

.enroll-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(30, 24, 24);
}

.gender {
    padding-left: 5px;
}

.label {
    display: flex;
    font-size: 30px;
}

.form-control {
    margin-bottom: 16px;
    background-color: hsl(228, 13%, 92%);
    
}

.seperation-border {
    box-sizing: border-box;
    width: 1.3px;
    height: 100vh;
    background-color: #edf2f6;
}

@media screen and (max-width: 768px) {
    hr.seperation-border {
        height: 0;

    }
}

.sectionHeading {
    display: flex;
    align-items: center;
    background-color: #e5e7e9;
    color: rgb(20, 12, 12);
    box-sizing: border-box;
    border: solid 2px var(--b-dark-black);
    font-weight: bold;
}

.sectionHeading>p {
    padding: 10px 12px;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    font-weight: bold;
}

.description {
    box-sizing: border-box;
    border-right: solid 2px var(--b-dark-black);
    margin-bottom: 0;
    width: 70%;
    
}

.Image {
    margin-bottom: 0;
    width: 30%;
}

.imageContainer{
    background-color: #fff;
}

.infoText {
    margin: 0;
    padding: 0;
}

.textInfoContainer{
    background-color: #fff;
}
.userName {
    font-weight: bold;
}

.wrapper {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 130px;
    justify-content: space-between;
    border: solid 2px var(--b-dark-black);
    border-top: none;
    animation: fadeIn 2s;
    position: relative;
    font-weight: 700;

}

.userDeleteBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    background-color: transparent;
    font-size: 25px;
    transform: rotate(45deg);
    display: none;
}

@media screen and (max-width: 768px) {
    button.userDeleteBtn {
        display: block;
    }

}

.wrapper:hover .userDeleteBtn {
    display: block;
}

.wrapper:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}

.wrapper:nth-child(even) {
    background-color: var(--b-light-yellow);
}

.textInfoContainer {
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    border-right: solid 2px var(--b-dark-black);
    padding: 10px;
}

.imageContainer {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.userImage {
    height: 120px;
    width: 190px;
}

.fadeIn {
    animation: fadeIn 2s;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}